<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>About Us - My Pet Clinic</title>
    <!-- Link to Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <style>
        .navbar-pink {
            background-color: #D99CCB !important;
        }

        .navbar-light .nav-link {
            color: #fff !important;
        }

        .navbar-pink .navbar-brand {
            color: white;
        }
    </style>

</head>

<body>

<div class="container-fluid">

    <!-- Navbar -->

    <nav class="navbar navbar-expand-lg navbar-pink">
        <a class="navbar-brand" href="/">My Pet Clinic</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav navbar-light">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/owners">Owners</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/pets">Pets</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#">About Us</a>
                </li>
            </ul>
        </div>
    </nav>

    <!-- Main Content -->
    <div class="row">
        <div class="col-md-12 text-center mt-5">
            <h1 class="mt-3" style="color: #D99CCB;">About Us</h1>
            <img src="picture.jpg" class="img-fluid mx-auto d-block" alt="Our Team">
            <p style="color: #8E3B46;">We are a team of dedicated veterinarians and animal lovers who are passionate
                about providing the best possible care for your pets.
            <p style="color:#8E3B46" ;>Our clinic is equipped with state-of-the-art facilities and we are committed to
                staying up-to-date with the latest advances in veterinary medicine.</p>
            <p style="color: #8E3B46;">Thank you for choosing My Pet Clinic as your trusted veterinary provider. We look
                forward to serving you and your pets.</p>
        </div>
    </div>

</div>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
</body>
</html>
